<!-- 版本提示 -->
<?xml version="1.0"?>
<robot name="sentry">
    <!-- 机器人身体部分 -->
    <link name="base_link">
        <!-- 部件外观 -->
        <visual>
            <!-- 沿着自己几何中心的偏移（xyz）和旋转（roll,pitch,yaw） ，用origin来定义-->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状 ，用geometry来定义-->
            <geometry>
                <!-- cylinder（圆柱体），radius(半径)，length(高度) -->
                <cylinder radius="0.25" length="0.45"/>
            </geometry>
            <!-- 材质颜色描述 ，用material定义-->
            <material name="white">
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>

        </visual>
    </link>

    <!-- 机器人的IMU部件，惯性测量传感器 -->
    <link name="imu_link">
        <!-- 部件外观 -->
        <visual>
            <!-- 沿着自己几何中心的偏移（xyz）和旋转（roll,pitch,yaw） ，用origin来定义-->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状 ，用geometry来定义-->
            <geometry>
                <!-- cylinder（圆柱体），radius(半径)，length(高度) -->
                <box size="0.02 0.02 0.02"/>
            </geometry>
            <!-- 材质颜色描述 ，用material定义-->
            <material name="white">
                <color rgba="0.0 0.0 0.0 0.5"/>
            </material>
        </visual>
    </link>

    <!-- 关节 用joint定义 -->
    <!-- type为固定类型 ， fixed为固定 -->
    <joint name="imu_joint" type="fixed">
        <origin xyz="0.0 0.0 0.15" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="imu_link"/>
    </joint>
</robot>
