<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rm_sentry">

<xacro:include filename="$(find rm_description)/urdf/rm_sentry/base.urdf.xacro" />
<xacro:include filename="$(find rm_description)/urdf/rm_sentry/sensor/imu.urdf.xacro" />
<xacro:include filename="$(find rm_description)/urdf/rm_sentry/sensor/camera.urdf.xacro" />
<xacro:include filename="$(find rm_description)/urdf/rm_sentry/sensor/laser.urdf.xacro" />
<xacro:include filename="$(find rm_description)/urdf/rm_sentry/sensor/laser.urdf.xacro" />
<xacro:include filename="$(find rm_description)/urdf/rm_sentry/actuator/whell.urdf.xacro" />
<xacro:include filename="$(find rm_description)/urdf/rm_sentry/actuator/caster.urdf.xacro" />
<xacro:include filename="$(find rm_description)/urdf/rm_sentry/plugins/gazebo_control_plugin.xacro" />
<xacro:include filename="$(find rm_description)/urdf/rm_sentry/plugins/gazebo_sensor_plugin.xacro" />


<!-- 传感器部分 -->
<xacro:base_xacro radius = "0.25" length = "0.45" />
<xacro:imu_xacro xyz = "0.0 0.0 0.15" />
<xacro:laser_xacro xyz = "0.0 0.0 0.35" />
<!-- <xacro:camera_xacro xyz = "0.125 0.0 0.0" /> -->

<!-- 执行器部分 -->
<xacro:whell_xacro whell_name = "left_whell" xyz = "0.0 0.25 -0.225" />
<xacro:whell_xacro whell_name = "right_whell" xyz = "0.0 -0.25 -0.225" />
<xacro:caster_xacro caster_name = "front_caster" xyz = "0.21 0.0 -0.241" />
<xacro:caster_xacro caster_name = "back_caster" xyz = "-0.21 0.0 -0.241" />

<xacro:gazebo_control_plugin />
<xacro:gazebo_sensor_plugin />

</robot>
