<?xml version="1.0"?>
<robot name="sentry">

  <!-- base_footprint: 机器人原点 -->
  <link name="base_footprint" />

  <!-- livox_frame: 雷达，与 base_footprint 方向统一，y=0.15m, z=0.37m -->
  <link name="livox_frame" />

  <joint name="livox_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="livox_frame" />
    <origin xyz="0.0 0.15 0.37" rpy="270 0 0" />
  </joint>

</robot>
