<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <xacro:include filename="$(find rm_description)/urdf/rm_sentry/common_inertia.xacro" />
    <!-- 机器人的IMU部件，惯性测量传感器 -->
    <xacro:macro name="whell_xacro" params="whell_name xyz">
        <link name="${whell_name}_link">
            <!-- 部件外观 -->
            <visual>
                <!-- 沿着自己几何中心的偏移（xyz）和旋转（roll,pitch,yaw） ，用origin来定义-->
                <origin xyz="0.0 0.0 0.0" rpy="1.57079 0.0 0.0"/>
                <!-- 几何形状 ，用geometry来定义-->
                <geometry>
                    <!-- cylinder（圆柱体），radius(半径)，length(高度) -->
                    <cylinder radius="0.032" length="0.04"/>
                </geometry>
                <!-- 材质颜色描述 ，用material定义-->
                <material name="yellow">
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>
            </visual>
            <collision>
                <!-- 沿着自己几何中心的偏移（xyz）和旋转（roll,pitch,yaw） ，用origin来定义-->
                <origin xyz="0.0 0.0 0.0" rpy="1.57079 0.0 0.0"/>
                <!-- 几何形状 ，用geometry来定义-->
                <geometry>
                    <!-- cylinder（圆柱体），radius(半径)，length(高度) -->
                    <cylinder radius="0.032" length="0.04"/>
                </geometry>
                <!-- 材质颜色描述 ，用material定义-->
                <material name="yellow">
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>
            </collision>
            <xacro:cylinder_inertia m = "0.05" r = "0.032" h = "0.04" />
        </link>
        <joint name="${whell_name}_joint" type="continuous">
            <origin xyz="${xyz}" rpy = "0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="${whell_name}_link"/>
            <axis xyz="0 1 0"/>

        </joint>
        <gazebo reference = "${whell_name}_link">
            <mu1 value="20.0"/>
            <mu2 value="20.0"/>
            <kp value="1000000000.0"/>
            <kd value="1.0"/>
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>
</robot>
